.box--white {
	border: solid 1px white;
	background-color: rgba(212, 212, 212, 0.239);
}

.box--red {
	border: solid 1px orangered;
	background-color: rgba(255, 68, 0, 0.513);
}

.box--yellow {
	border: solid 1px yellow;
	background-color: rgba(255, 255, 0, 0.376);
}

.box--green {
	border: solid 1px lightgreen;
	background-color: rgba(144, 238, 144, 0.541);
}

.box--purple {
	border: solid 1px rgb(199, 49, 199);
	background-color: rgba(156, 26, 156, 0.424);
}

.box--red,
.box--yellow,
.box--green,
.box--purple {
	/* size */
	width: 100px;
	height: 100px;
	/* others */
	transition: 0.5s;
}




